<header class="block-header pn-h5"><span class="fa fa-tasks"></span>Breakdown</header>
<div class="block-container">
	<ul class="breakdown-list">
		<li>
			<h5 class="pn-h5">Total tracked tweets:</h5>
			<span class="pn-h5">{{calculations.totalTweets}}</span>
		</li>
		<li>
			<h5 class="pn-h5">Negative tweets:</h5>
			<span class="pn-h5">{{calculations.negativeCount}}</span>
		</li>
		<li>
			<h5 class="pn-h5">Positive tweets:</h5>
			<span class="pn-h5">{{calculations.positiveCount}}</span>
		</li>
		<li>
			<h5 class="pn-h5">Positive sentiment ratio:</h5>
			<span class="pn-h5">{{calculations.cleanSentimentRatio}}</span>
		</li>
		<li>
			<h5 class="pn-h5">Sentiment rating:</h5>
			<span class="pn-h5">{{rating}}</span>
		</li>
	</ul>
</div>